@use "..//abstract/variables";
@use "..//abstract/mixins";

/*INDEX3 producto1 ejemplo*/
/* Estilo de productos total */
.producto__card {
   
  background-color: #fdf1f7;
  @include mixins.style-border;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 15px rgba(247, 138, 229, 0.2);
  :hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(247, 138, 229, 0.4);}

}
.card-body{
         
  .card-title {
      color: variables.$color-title;
      font-size: 1.2rem;
      font-weight: bold;}
      .card-text {
        font-size: 0.95rem;
        color:variables.$color-texto;}
       
}
.card-link{
          text-decoration: none !important;
          color: inherit ;
}
