@use "..//abstract/variables" ;
@use "..//abstract/mixins";

body {
    font-family: variables.$fuente-principal;
    background-color: variables.$color-secundario;
    color: variables.$color-texto;

  }
  html, body{
    height: auto;
    @include mixins.position-container;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  main{
    background-color: variables.$color-secundario;
    @include mixins.position-container;
    max-width: 100%;
    
    }
   
    .footer {
      width: 100%;
      height: auto;
      padding: 30px 20px;
      background-color: #ff69b4 ;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-self: start;
    
    }