@use "..//abstract/variables" ;
@use "..//abstract/mixins";
@use "..//utilidades/flex-utils";

body {
    font-family: variables.$fuente-principal;
    background-color: variables.$color-secundario;
    color: variables.$color-texto;

  }
  html, body{
    height: auto;
    @include mixins.position-container;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  main{
    background-color: variables.$color-secundario;
    @include mixins.position-container;
    max-width: 100%;
    
    }
   
    .footer {
      width: 100%;
      height: auto;
      padding: 30px 20px;
      background-color: #ff69b4 ;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-self: start;
    
    }
    /*producto1*/

/* Estilos generales producto1*/
.body__producto1 {
  font-family: 'Arial', sans-serif;
  background-color: #fdf1f7;
  color: #060606;
  line-height: 1.6;
}

/* Productos relacionados */
.productos__relacionados {
  padding: 2rem;
}

.productos__relacionados h2 {
  color: variables.$color-title;
  margin-bottom: 1.5rem;
}

.galeria {
  
  @extend .flex-center-center;
  gap: 1.5rem;
 
}

.producto {
  text-align: center;
}

.producto img {

  @include mixins.size(100px, 100px);
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.producto p {
  color: #060606;
  font-weight: bold;
}
