@use "..//utilidades/variables";
@use "..//utilidades/mixins";
 /*accordion - preguntas frecuentes*/
 
.accordion-button:not(.collapsed) {
    background-color: variables.$color-primario;
    color: variables.$color-texto;
  }
  .container__acordion {
    margin: 60px auto;
    width: 90%;
    max-height: 350px;
    overflow-y: scroll;
    padding-right: 10px;
    padding: 30px;
    background-color: variables.$color-acordion;
    border-radius: 12px;
    box-shadow: variables.$box-shadow;
    h5{
      @include mixins.title-pink;
    }
    .accordion-item {
      border: none;
      margin-bottom: 15px;
      border-radius: 8px;
      overflow: hidden;
      background-color: variables.$color-acordion !important;

      .accordion-button:hover{@include mixins.hover-style ;
      }
    }
    
  }
  
  