
@use "..//abstract/variables";

.container__acordion {
  margin: 60px auto;
  width: 90%;
  max-height: 350px;
  overflow-y: scroll;
  padding-right: 10px;
  padding: 30px;
  background-color: #fdf1f7;
  border-radius: 12px;
  box-shadow: 0px 0px 45px palevioletred !important;
}

.container__acordion h5 {
  font-size: 28px;
  color: #d63384;
  margin-bottom: 30px;
  font-weight: bold;
}

.accordion-item {
  border: none;
  margin-bottom: 15px;
  border-radius: 8px;
  overflow: hidden;
  background-color: aliceblue !important;
}

.accordion-button:hover {
  background-color: rgba(247, 175, 203, 0.1) !important;
  color: rgba(0, 0, 0, 0.2)
}
