@use "..//utilidades/variables";

.oferta {
    background-color: variables.$color-secundario;
    padding: 2rem;
    text-align: center;
    animation: parpadeo 1s infinite alternate;
  }
  
  @keyframes parpadeo {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
  }
  