@use "..//utilidades/variables" as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vars.$fuente-principal;  // CORREGIDO: aquí SÍ debes poner el signo $ cuando usas variables importadas con `@use`
}
